
		{% extends 'template.html.twig' %}
		
		{% block title %}
			Todo
		{% endblock %}

		{% block body %}
			{% for message in app.session.flashBag.get('info') %}
			<div class="alert alert-info">
				<span>{{message}}</span>
			</div>
		{% endfor %}


		{% for message in app.session.flashBag.get('success') %}
			<div class="alert alert-success">
				<span>{{message}}</span>
			</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('error') %}
			<div class="alert alert-danger">
				<span>{{message}}</span>
			</div>
		{% endfor %}

		<ol class="list-group">
		
			{% block pageTitle %}
				Liste des todos
			{% endblock %}
			{% for name,content in app.session.get('todos') %}
				<li class="list-group-item">
					{{name}}:{{content}}
				</li>
			{% endfor %}
		</ol>
		{% endblock %}
		


